/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAABQAgMAAADjM5anAAAACVBMVEUAAAAPDw8PDxA5dZcEAAAAA3RSTlMACCueE7eWAAAAO0lEQVR4AWOAA0Y4C6vYiFI4qnBU4ajCUYWjCpmwiZGjMBQGspbCmdjEqGX1iIrCUYWjCkcVjiocVQgAPC8OuQNGhAYAAAAASUVORK5CYII=);
  padding: 0;
  min-height: 100vh;
  /* font-family: Raleway,HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif; */

}

#root {
  min-height: 100vh;
}

.main-navbar {
  width: 100vw;
  height: 30%;
  display: flex;
  /* justify-content: center; */
  background-color: black;

}

.main-navbar nav {
  padding: 0;
}

.main-navbar ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.main-navbar li {
  padding: 0.8rem;
  margin: 0.5rem;
}

.main-navbar li a {
  text-decoration: none;
  color: white;

}

.main {
  height: 70%;
}

.home {
  padding: 0.5rem;
}

.main-title {
  text-align: center;
  font-weight: 700;

}





.feature-layout {
  margin: 0 auto;  /* Center the element horizontally */
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: #fff;
  text-align: center;
  padding: 0.5rem;  /* Add padding as needed */
}

.feature-details{
  margin: auto;
  width: 50%;
}

.feature-layout p{
  display: flex;
  /* border: 2px solid red; */
  /* width: 50%; */
  /* text-align: center; */
  /* margin-right: 100px; */
  font-size: 20px;
  font-weight: 300;
}

.feature-layout input{
  height:25%;
  width: 45%; 
  border: 2px solid black;
  color: black;
  background-color: #fff;
  border-radius: 3px;
  font-size: 20px;
}

.submit{
  width: 8.125rem;
  height: 2.5rem;
  font-size: 22px;
  background-color: red;
  color: black;
  border-radius: 3px;
  margin-top: 3px;
  cursor: pointer;
  font-weight: 500;
}

.submit:hover{
  color: red;
  background-color:black;
}

.features-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.feature-item {
  margin: 1rem;
  padding: 0.5rem;
  width: 30.625rem;
  height: 15.rem;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.573); */
  background-color: #ffffff;
  /* border: 1px solid black; */
  /* width: 40%; */
  box-shadow:  0  15px 10px rgba(0,0,0,.16);
  min-height: 9.813rem;
  padding-left: 30px;

}
.feature-item h3{
  font-size: 2rem;
  text-align: left;
  padding: 0.5rem 0 0 0;
}
.feature-item p{
  font-size: 20px;
  text-align: left;
  /* padding-left:30px ; */
}
.feature-item a {
  text-decoration: none;
  color: black;
}

.learn-more{
  padding: 7px;
  border-radius: 3px;
  display: flex;
  text-align: left;
  margin-bottom: 10px;
  background-color: #fff;
  color: black;
}

.learn-more:hover{
  color: #fff;
  background-color: black;
}

@media (width <=500px) {
  .feature-item {
    width: 80%;
  }
}

.login-form {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form div {
  margin: 0.25rem;
}

.text-only {
  border: none;
  background-color: transparent;
  margin: 0.25rem;
}

.login-form .input-group {
  display: flex;
  justify-content: space-between;

}

.input-group label,
input {
  margin: 0.25rem;
  padding: 0.25rem;
}

.button {
  margin: 0.25rem;
  padding: 0.25rem;
  
}

.container{
padding: 10px 10px;
margin: 0;
margin-left: 15rem;
background-color: #fff;
}
.section{
  display: flex;
  margin:90px 0px 0px 100px;
  /* gap: 150px; */
  }
.info{
/* border: 2px solid red; */
/* height: 100px;
width: 100px; */
margin-right: 70px;
}

.info h2{
      background-color: #222;
    color: #fff;
    font-weight: 700;
    padding: 6px 5px;
    width: 400px;
}

.info p{
  font-size: 20px;
}

.img{
/* border:2px solid red; */
/* height: 109px;
width: 100px; */
margin-right: 80px;
}

.row{
  display: flex;
}

.column{
  display: grid;
}
.history{

  background-color: white;
  /* border: 2px solid silver; */
margin: 0 auto;
  width: 70%;
  /* align-items: center; */
  text-align: center;
   box-shadow:  5px 5px  15px 10px rgba(0,0,0,.16);
   border-radius: 5px;
   margin-top: 60px;
   padding: 10px;
  
}
.history h2{
  font-size: 2.7rem;
  font-weight: 500;
  /* margin: 0 auto; */
  margin-top: 30px;
  background-color: white;
}


/* text-align: center; */
  .history li{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    /* margin: 0 auto; */
    /* justify-content: center; */
    /* align-items: center; */
}